html {
  color:grey;
  font-size:16px;
  line-height:1.4;
  border:1px solid #556B2F;
  width:90%;
  font-family:Poppins, sans-serif;
  font-weight:300;
  margin:0 auto;
  padding:3%;
  }
  
  ::selection {
  background:#b3d4fc;
  text-shadow:none;
  }
  
  hr {
  display:block;
  height:1px;
  border:0;
  border-top:1px solid #ccc;
  margin:1em 0;
  padding:0;
  }
  
  audio,canvas,iframe,img,svg,video {
  vertical-align:middle;
  }
  
  fieldset {
  border:0;
  margin:0;
  padding:0;
  }
  
  textarea {
  resize:vertical;
  }
  
  .browserupgrade {
  background:#ccc;
  color:#000;
  margin:.2em 0;
  padding:.2em 0;
  }
  
  /* ============ Author's custom styles ============ */
  
     /*********  BASE STYLES ***********/
  .content-wrapper {
  max-width:400px;
  }
  
  h1 {
  font-size:1.875em;
  }
  
  p {
  font-family:'Open Sans', sans-serif;
  }
  
  /* -------- Base Header - Footer Styles -------------------- */
  
  header,footer {
  display:flex;
  justify-content:center;
  align-items:center;
  flex-flow:row wrap;
  }
  
  header {
  width:%;
  margin:0 auto;
  padding:15px 0;
  }
  
  .header-wrapper {
  display:flex;
  justify-content:center;
  align-items:center;
  flex-flow:row wrap;
  width:60%;
  margin:0;
  }
  
  header nav {
  display:flex;
  justify-content:space-around;
  align-items:center;
  flex-flow:row wrap;
  width:100%;
  }
  
  header nav ul {
  display:flex;
  justify-content:space-around;
  width:100%;
  font-size:1.125em;
  }
  
  .footer-wrapper {
  width:55%;
  text-align:center;
  }
  
  footer .social-icons {
  display:flex;
  justify-content:space-around;
  align-items:center;
  }
  
  footer .social-icons p {
  display:flex;
  justify-content:center;
  align-items:center;
  }
  
  footer p {
  font-family:Poppins, sans-serif;
  margin:0;
  }
  
  /* -------------------- Mobile Styles - Homepage -------------------- */
  
  /* Hero Area */
  
  aside .content-wrapper {
  padding:0 0 40px;
  }
  
  .features article {
  text-align:center;
  font-size:.875em;
  padding:45px 20% 0;
  }
  
  /* Features */
  
  .features p {
  margin:0;
  }
  
  .reviews h3 {
  width:100%;
  justify-content:flex-start;
  }
  
  .hidden {
  display:none!important;
  }
  
  .visuallyhidden {
  border:0;
  clip:rect(0000);
  height:1px;
  overflow:hidden;
  position:absolute;
  width:1px;
  white-space:nowrap;
  margin:-1px;
  padding:0;
  }
  
  .visuallyhidden.focusable:active,.visuallyhidden.focusable:focus {
  clip:auto;
  height:auto;
  overflow:visible;
  position:static;
  width:auto;
  white-space:inherit;
  margin:0;
  }
  
  .invisible {
  visibility:hidden;
  }
  
  .clearfix:before,.clearfix:after {
  content:" ";
  display:table;
  }
  
  .clearfix:after {
  clear:both;
  }
  
  footer,.form {
  text-align:center;
  }
  
  .hero,.features,.reviews {
  display:flex;
  justify-content:center;
  flex-flow:row wrap;
  }
  
  aside,.features .features-items,.mission,.contact-section,.faq,.faq-wrapper {
  display:flex;
  justify-content:flex-start;
  align-items:center;
  flex-flow:row wrap;
  }
  
  .about-contact {
  width:100%;
  }
  
  @media screen and (min-width: 768px) {
  .content-wrapper {
  max-width:640px;
  
  }
  
  h1 {
  font-size:2.75em;
  }
  
  h2 {
  font-size:2em;
  }
  
  h3 {
  font-size:1.5em;
  }
  
  header {
  justify-content:flex-start;
  }
  
  .header-wrapper {
  width:100%;
  }
  
  .logo {
  width:300px;
  display:flex;
  justify-content:flex-start;
  align-content:center;
  }
  
  header nav {
  width:40%;
  }
  
  header nav ul {
  justify-content:flex-end;
  }
  
  .header-divider {
  display:none;
  }
  
  .headline-wrapper {
  width:100%;
  display:flex;
  justify-content:flex-start;
  flex-flow:wrap;
  padding:0 0 0 65px;
  }
  
  aside {
  padding:0;
  }
  
  aside .content-wrapper {
  display:flex;
  }
  
  .newsletter-info {
  width:49%;
  display:flex;
  flex-flow:column;
  }
  
  .newsletter-form {
  width:49%;
  display:flex;
  flex-direction:column;
  padding-left:60px;
  }
  
  .features {
      display: flex;
      flex-flow: wrap;
  justify-content:flex-start;
  padding:0;
  }
  
  .features-content {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  }
  
  .article-wrapper {
      display: flex;
      width: 100%;
      flex-flow: wrap;
  }
  
  .features-content article {
      width: 50%;
      text-align:center;
      flex: 1 1 200px;
  }
  
  article {
  padding: 40px 25px 0;
  }
  
  .reviews {
  display:flex;
  justify-content:flex-start;
  padding:0;
  }
  
  .reviews-1 {
  display:flex;
  flex-flow:row;
  flex-grow:1;
  width:40%;
  height:auto;
  margin:0;
  }
  
  .reviews-2 {
  display:flex;
  flex-direction:column;
  flex-grow:1;
  width:40%;
  height:auto;
  margin:0;
  }
  
  .footer-wrapper {
  display:flex;
  flex-direction:row;
  align-content:flex-start;
  justify-content:center;
  width:100%;
  padding:90px;
  }
  
  .contact,.social {
  width:49%;
  }
  
  .copyright {
  display:flex;
  justify-content:center;
  width:100%;
  padding:0 0 15px;
  }
  
  .mission-p,.about-contact {
  width:50%;
  }
  
  .faq {
  display:flex;
  justify-content:flex-start;
  align-items:center;
  flex-flow:row wrap;
  width:100%;
  }
  
  .faq-1,.faq-2 {
  display:flex;
  justify-content:flex-start;
  align-items:flex-start;
  flex-flow:row wrap;
  width:50%;
  }
  
  .article-wrapper1,.article-wrapper2 {
  width:50%;
  text-align:center;
  } 
  }
  
  @media screen and (min-width: 1000px) {
  .content-wrapper {
  display: flex;
  justify-content: center;
  margin: auto;
  max-width:95%;
  }

/* Hero */
.hero {
  justify-content: flex-start;
}
.hero h1 {
        width : 70%;
    }
 
    /* Aside */
    aside .content-wrapper {
      display: flex;
      padding: 0 100px;
        justify-content: center;
    }
 
    aside .content-wrapper .form-description,
    aside .content-wrapper .form {
        width:100%;
    }
 
    /* Features */
    .features h2 {
        width: 100%;
    }
 
    .features article {
        flex-basis: 860px;
    }
 
    /* Reviews */ 
    .reviews article div {
        width: 100%;
    }
 
/* ==========================================================================
   About Page
   ========================================================================== */
   .mission {
     padding: 100px 120px 50px;
   }
    .mission h2,
    .contact-section .content-wrapper h2 {
        width: 70%;
    }
 
    .contact-section .content-wrapper h2 {
        margin-bottom: 0;
    }
 
 
/* ==========================================================================
   FAQ Page
   ========================================================================== */
   .faq {
    display:flex;
    align-items:flex-start;
    flex-flow:row wrap;
    padding: 80px 0 50px 100px;
    }

    .faq h3, .faq p {
      width: 50%;
    }

    .faq-items {
      width: 50%;
    }
 }
  
  @media print{
  *,:before,:after {
  background:transparent!important;
  color:#000!important;
  -webkit-box-shadow:none!important;
  box-shadow:none!important;
  text-shadow:none!important;
  }
  
  a,a:visited {
  text-decoration:underline;
  }
  
  a[href]:after {
  content:" (" attr(href) ")";
  }
  
  abbr[title]:after {
  content:" (" attr(title) ")";
  }
  
  a[href^="#"]:after,a[href^="javascript:"]:after {
  content:"";
  }
  
  pre {
  white-space:pre-wrap!important;
  }
  
  pre,blockquote {
  border:1px solid #999;
  page-break-inside:avoid;
  }
  
  thead {
  display:table-header-group;
  }
  
  tr,img {
  page-break-inside:avoid;
  }
  
  p,h2,h3 {
  orphans:3;
  widows:3;
  }
  
  h2,h3 {
  page-break-after:avoid;
  }
  }