/*! HTML5 Boilerplate v7.0.1 | MIT License | https://html5boilerplate.com/ */

/* main.css 1.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

 
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

   html {
    color:grey;
    font-size: 16px;
    line-height: 1.4;
    border: 1px solid darkolivegreen;
    margin: 0 auto;
    width: 90%;
    padding: 3%;
}



/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}




 /* ==========================================================================
   Author's custom styles
   ========================================================================== */

   /*********  BASE STYLES ***********/
html{
  
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}

.content-wrapper {
  max-width: 400px;

}

h1, h2, h3, h4 {
  
}

h1 {
  font-size: 1.875em;

}

h3{

}

p{
  font-family: 'Open Sans', sans-serif;
    
}

/* -------------------- Base Header - Footer Styles -------------------- */

header,
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  border: 1px solid grey;
}

header {
  width: 98%;
  margin: 0 auto;
  padding: 15px 0 15px 0;
}

.header-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  background-color: yellowgreen;
  width: 60%;
  margin: 0;
}



header nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
  background-color: grey;
  width: 100%;
}

header nav ul {
  display: flex;
  justify-content: space-around;
  width:  100%;
  font-size: 1.125em;
}

footer {
  text-align: center; /* ----- best place to put this? inside each footer & copyright div? */
}

.footer-wrapper{
  width: 55%;
  text-align: center;
}
footer .social-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer .social-icons p {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

footer p {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}


/* -------------------- Mobile Styles - Homepage -------------------- */

/* Hero Area */

.hero {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

/* Aside */

aside {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.newsletter-wrapper {
  padding: 0 0 40px 0;
}

.newsletter-info {
 
}

.form {
  text-align: center;
}


/* Features */

.features {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.features article {
  padding: 45px 20% 0 20%;
  text-align: center;
  font-size: 0.875em;
}

.features p {
  margin: 0;
}

.features .features-items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

/* Reviews */

.reviews {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.reviews h3 {
  width: 100%;
  justify-content: flex-start;
}

/* ==========================================================================
   About Page
   ========================================================================== */

.mission {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.contact-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

/* ==========================================================================
   FAQ Page
   ========================================================================== */

.faq {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.faq-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

 /* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

 .hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap; /* 1 */
}

/*
* Extends the .visuallyhidden class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

 
/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

/*Tablet styles here*/
   @media screen and (min-width: 768px) {
    .content-wrapper {
      max-width: 640px;
      padding: 50px 20px 100px 65px;
    }

    h1 {
      font-size: 2.75em; 
    }

    h2 {
      font-size: 2em;
    }

    h3 { 
      font-size: 1.5em;
    }

    header {
      justify-content: flex-start;
      
    }
    
    .header-wrapper {
      width:  100%;
    }

    .logo{
      width: 300px;
      display: flex;
      justify-content: flex-start;
      align-content: center;
    }

    header nav {
      width: 40%;
    }

    header nav ul {
      justify-content: flex-end;
     
    }

    .header-divider {
      display: none;
    }
    .headline-wrapper {
      width: 100%;
      padding: 0 0 0 65px;
      display: flex;
      justify-content: flex-start;
      flex-flow: wrap;
    }

    aside {
      padding: 0;
    }

    .newsletter-wrapper {
      display: flex; 
    }

    .newsletter-info {
      width: 49%;
      display: flex;
      flex-flow: column;
    }

    .newsletter-form{
      width: 49%;
      display: flex;
      flex-direction: column;
      padding-left: 60px;
    }

    .features {
      padding: 0;
      justify-content: flex-start;
    }

    article {
      padding: 40px 0 0 0;
    }

    .article-wrapper-1 {
      width: 27%;
      padding: 0 120px 0 10px;
      text-align: center;
    }

    .article-wrapper-2 {
      width: 27%;
      padding: 0 120px 0 10px;
      text-align: center;
    }

    .reviews {
      display: flex;
      justify-content: flex-start;
      padding: 0;
    }

    .reviews-1 {
      display: flex;
      flex-flow: row;
      flex-grow: 1;
      width: 40%;
      height: auto;
      margin: 0;
    }

    .reviews-2 {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      width: 40%;
      height: auto;
      margin: 0;
    
    }

    .footer-wrapper {
      display: flex;
      flex-direction: row;
      align-content: flex-start;
      justify-content: center;
      width: 100%;
      padding: 90px;
    }

   /* .footer-content {
      display: flex;
      flex-direction: row;
      align-content: flex-start;
      justify-content: center;
      width: 100%;
    } */
    .contact, 
    .social {
      width: 49%;
    }
  
    .copyright {
      display: flex;
      justify-content: center;
      width: 100%;;
      padding: 0 0 15px 0;
    }
    }

    /*Desktop styles here*/ 
    @media screen and (min-width: 1200px) {
    
    
    
    }


@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

 
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

   @media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}


