html {
  color:grey;
  font-size:16px;
  line-height:1.4;
  }
  
  ::selection {
  background:#b3d4fc;
  text-shadow:none;
  }
  
  hr {
  display:block;
  height:1px;
  border:0;
  border-top:1px solid #ccc;
  margin:1em 0;
  padding:0;
  }
  
  audio,canvas,iframe,img,svg,video {
  vertical-align:middle;
  }
  
  fieldset {
  border:0;
  margin:0;
  padding:0;
  }
  
  textarea {
  resize:vertical;
  }
  
  .browserupgrade {
  background:#ccc;
  color:#000;
  margin:.2em 0;
  padding:.2em 0;
  }
  
  /* ============ Author's custom styles ============ */
  
     /*********  GENERAL STYLES ***********/

html {
  width: 100%;
  font-family:Poppins, sans-serif;
  color: #e2e3ed;
  font-weight:300;
  margin:0 auto;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
} 

ul, 
ol {
 
}
 
a {
	color: #e2e3ed;
  text-decoration: none;
}
h1,
h2,
h3{
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}
h1 {
  font-size:2.25em;
}

h2 {
    font-size: 1.875em;
}

h3{
  font-size: 1.5em;
}
  
  p {
  font-family:'Open Sans', sans-serif;
  }

  img {
 
  }
   
  figure {
   
  }
   
  address {
   
  }
  .content-wrapper {
    max-width:400px;
    margin: 0 auto;
    }
    
  /* -------- Base Header - Footer Styles -------------------- */
  
  header,footer {
  display:flex;
  justify-content:center;
  align-items:center;
  flex-flow:row wrap;
  background-color: #202322;
  }
  
  header {
  margin:0 auto;
  padding:15px 0;
  }
  
  .header-wrapper {
  display:flex;
  justify-content:center;
  align-items:center;
  flex-flow:row wrap;
  width:60%;
  margin:0;
  }
  
  header nav {
  display:flex;
  justify-content:space-around;
  align-items:center;
  flex-flow:row wrap;
  width:100%;
  }
  
  header nav ul {
  display:flex;
  justify-content:space-around;
  width:100%;
  
  }

  header nav ul li {
    font-family: 'Open Sans';
    font-size:  1.125em;
    list-style: none;
  }
  
  .footer-wrapper {
  width:55%;
  text-align:center;
  background-color: #202322;
  }
  
  footer .social-icons {
  display:flex;
  justify-content:space-around;
  align-items:center;
  }
  
  footer .social-icons p {
  display:flex;
  justify-content:center;
  align-items:center;
  }
  
  footer p {
  font-family:Poppins, sans-serif;
  margin:0;
  }
  
  /* -------------------- Mobile Styles - HOME PAGE -------------------- */
  
  /* Hero Area */
  
  aside .content-wrapper {
  padding:0 0 40px;
  }

  .features-content {
    display: flex;
    flex-flow: wrap;
    flex-direction: row;
    justify-content: center;
}
  
  .features-content article {
  text-align:center;
  font-size:.875em;
  width: 30%;
  padding: 0 35%;
  }
  
  /* Features */
  
  .features p {
  margin:0;
  }

  .reviews {
    background-color: #2a423a;
  }
  .reviews h2 {
  width:100%;
  justify-content:flex-start;
  }

  .reviews-items {
    width:100%;
    height:auto;
    margin:0;
    padding: 0 5%;
}

  img {
    width: 100%;
    height: auto;
  }
  
  .hidden {
  display:none!important;
  }
  
  .visuallyhidden {
  border:0;
  clip:rect(0000);
  height:1px;
  overflow:hidden;
  position:absolute;
  width:1px;
  white-space:nowrap;
  margin:-1px;
  padding:0;
  }
  
  .visuallyhidden.focusable:active,.visuallyhidden.focusable:focus {
  clip:auto;
  height:auto;
  overflow:visible;
  position:static;
  width:auto;
  white-space:inherit;
  margin:0;
  }
  
  .invisible {
  visibility:hidden;
  }
  
  .clearfix:before,.clearfix:after {
  content:" ";
  display:table;
  }
  
  .clearfix:after {
  clear:both;
  }
  
  footer,.form {
  text-align:center;
  }
  
  .hero,.features,.reviews {
  display:flex;
  justify-content:center;
  flex-flow:row wrap;
  }
  
  aside,.features .features-items,.mission,.contact-section,.faq,.faq-wrapper {
  display:flex;
  justify-content:flex-start;
  align-items:center;
  flex-flow:row wrap;
  }

  aside {
    background-color: #527158;
  }
   
  input[type=text] {
    box-sizing: border-box;
    width: 100%;
    color: #2a423a;
    font-style: italic;
    padding: 20px 0;
    margin-top: 20px;
  }
   
  input[type=button] {
    width: 100%;
    padding: 20px 0;
    margin-top: 20px;
    background-color: #2a423a;
    font-family: 'Poppins', Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 1.125em;
    color: #e2e3ed;
    border: none;
    text-align: center;
    text-transform: uppercase;
  }
  .about-contact {
  width:100%;
  }

  /* ---------------- ABOUT PAGE ---------------*/

  .mission {
    background-color: #527158;
    width: 100%;
  }

  .mission-contact {
    background-color: #2a423a;
  }
  
  @media screen and (min-width: 768px) {
  /* ---------- BASE STYLES -------- */
  
  .content-wrapper {
  max-width:640px;
  
  }
  
  h1 {
  font-size:3em;
  }
  
  h2 {
  font-size:2.25em;
  }
  
  h3 {
  font-size:1.5em;
  }
  
  header {
  justify-content:flex-start;
  }
  
  .header-wrapper {
  width:100%;
  }
  
  .logo {
  width:300px;
  display:flex;
  justify-content:flex-start;
  align-content:center;
  }
  
  header nav {
  width:40%;
  }
  
  header nav ul li {
  font-size: 1em;
  justify-content:flex-end;
  }
  
  .header-divider {
  display:none;
  }
  
  .headline-wrapper {
  width:100%;
  display:flex;
  justify-content:flex-start;
  flex-flow:wrap;
  padding:0 0 0 65px;
  }

  .hero {
    padding: 0 9%;
  }
  
  aside {
  padding:0 9%;
  }
  
  aside .content-wrapper {
  display:flex;
  }
  
  .newsletter-info {
  width:49%;
  display:flex;
  flex-flow:column;
  }
  
  .newsletter-form {
  width:49%;
  display:flex;
  flex-direction:column;
  padding-left:60px;
  }
  
  .features {
      display: flex;
      flex-flow: wrap;
  justify-content:flex-start;
  padding:0;
  }
  
  .features-content {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  }

  .features-content h2 {
    padding: 0 12%;
  }
  
  .features-content article {
    width: 50%;
    text-align:center;
    flex: 1 1 200px;
    padding: 0 9%;
    justify-content: center;
    align-content: center;
}
  
  article {
  padding: 40px 25px 0;
  }
  
  .reviews-wrapper {
  display: flex;
  flex-flow: wrap;
  justify-content:flex-start;
  padding:0 9%;
  }
  
.reviews-items {
    width:40%;
    height:auto;
    margin:0;
    padding: 0 5%;
}
  
  .footer-wrapper {
  display:flex;
  flex-direction:row;
  align-content:flex-start;
  justify-content:center;
  width:100%;
  padding:90px;
  }
  
  .contact,.social {
  width:49%;
  }
  
  .copyright {
  display:flex;
  justify-content:center;
  width:100%;
  padding:0 0 15px;
  }

  /* ---------- ABOUT PAGE STYLES ---------*/
  
  .mission-p,.about-contact {
  width:50%;
  }

  /* ---------- FAQ PAGE STYLES ---------*/
  
  .faq {
  width:100%;
  align-items: flex-start;
  }

  .faq-items {
    width: 40%;
    padding: 0 30px 0 0;
  flex-basis: 290px;
  }
  
  @media screen and (min-width: 1200px) {
  .content-wrapper {
  max-width:960px;
  }

h1 {
  font-size: 3.75em;
}

h2 {
  font-size: 2.25em;
}

h3 {
  font-size: 1.875em;
}
/* Hero */
.hero {
  justify-content: flex-start;
  padding: 0 12%;
}
.hero {
        width : 70%;
        
    }
 
    /* Aside */
    aside .content-wrapper {
      display: flex;
      padding: 0 200px;
        justify-content: center;
    }

    aside {
      padding: 0;
    }
 
    aside .content-wrapper .form-description,
    aside .content-wrapper .form {
        width:100%;
    }
 
    /* Features */

    .features-h2 {
        width: 100%;
        padding: 0 12%;
    }
 
.features-content {
  flex: 1 1 210px;
  padding: 3%;
}
    .features-content article {
        flex-basis: 200pxpx;
        padding: 0 60px;
    }
 
    /* Reviews */ 

    .reviews {
      padding: 0 12%;
    }
    .reviews article div {
        width: 100%;
    }
 
/* ==========================================================================
   About Page
   ========================================================================== */
   .mission {
     padding: 100px 120px 50px;
   }
    .mission h2,
    .contact-section .content-wrapper h2 {
        width: 70%;
    }
 
    .contact-section .content-wrapper h2 {
        margin-bottom: 0;
    }
 
 
/* ==========================================================================
   FAQ Page
   ========================================================================== */
   .faq {
    align-items:flex-start;
    padding: 80px 0 50px 100px;
    }

    .faq h3, .faq p {
      width: 50%;
    }

    .faq-items {
      flex-basis: 480px;
      padding: 0;
    }
  
  @media print{
  *,:before,:after {
  background:transparent!important;
  color:#000!important;
  -webkit-box-shadow:none!important;
  box-shadow:none!important;
  text-shadow:none!important;
  }
  
  a,a:visited {
  text-decoration:underline;
  }
  
  a[href]:after {
  content:" (" attr(href) ")";
  }
  
  abbr[title]:after {
  content:" (" attr(title) ")";
  }
  
  a[href^="#"]:after,a[href^="javascript:"]:after {
  content:"";
  }
  
  pre {
  white-space:pre-wrap!important;
  }
  
  pre,blockquote {
  border:1px solid #999;
  page-break-inside:avoid;
  }
  
  thead {
  display:table-header-group;
  }
  
  tr,img {
  page-break-inside:avoid;
  }
  
  p,h2,h3 {
  orphans:3;
  widows:3;
  }
  
  h2,h3 {
  page-break-after:avoid;
  }
  }
} 
}